<h1>Trip Details</h1>

<table>
  <thead>
    <tr>
      <th width="10">ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Cost</th>
      <th>Rating</th>
      <th>Edit / Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @trip.id %></td>
      <td><%= @trip.date %></td>
      <td><%= link_to @trip.driver.name, driver_path(@trip.driver.id) %></td>
      <td><%= link_to @trip.passenger.name, passenger_path(@trip.passenger.id) %></td>
      <td><%= @trip.cost_in_dollar %></td>
      <td><%= @trip.rating %></td>
      <td><%= link_to "Edit", edit_trip_path(@trip.id) %> <%= link_to "Delete", trip_path(@trip.id), :data => {:confirm => 'Are you sure?'}, method: :delete %></td>
    </tr>
  </tbody>
</table>
