<h1> <%= page_title %> </h1>

<% if @passenger.errors.any? %>
  <ul class="errors">
    <% @passenger.errors.each do |field, message| %>
      <li>
        <strong><%= field.capitalize %>: </strong><%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @passenger do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />

  <%= f.label :phone_num %>
  <%= f.text_area :phone_num %>
  <br />

  <%= f.submit %>
<% end %>
